body {
  background-color: #000000;
  background-image: linear-gradient(0deg, #ffffff69 1px, transparent 1px),
    linear-gradient(90deg, #ffffff69 1px, transparent 1px);
  background-size: 35px 35px;
  font-family: monospace;
}
